$radius: 1rem ;
$maximoAncho:983px;
$blueHeaderFooter: #232D4F;
$navBarButtontutorial:#0072BB ;
*{
    margin: 0;
    
}

.logoimg{
    height: auto;
    cursor: pointer;
    width: 6rem;
    transition: .6s ease-in-out;
    transform: scale(1, 1);
    &:hover{
        transition: .6s ease-in-out;

        transform: scale(1.2, 1.2);
    }
    &:not(:hover){
       
        transition: .6s ease-in-out;

    }
}
// header logo
.main-header {
    max-width: 1300px;
    margin: auto;
    background-color: $blueHeaderFooter;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
  }
  
  .left-element,
  .right-element {
    padding: 10px;
  }
  
  .left-element {
    flex: 1;
    text-align: left;
  }
  
  .right-element {
    flex: 1;
    text-align: right;
  }
  


// barra de navegacion
header {
    background-color: $blueHeaderFooter;
    color: #fff;
}

  .lightblueNavbar{
      background-color: $navBarButtontutorial;
      nav {
          margin: auto;
          max-width: 1150px;
          display: flex;
          justify-content: space-between;
          height: 10vh;
          align-items: center;
          
          .navlinks{
              
              display: flex;
              justify-content: space-between;
              align-items: center;
            }
          }
          
        }
        
        
        .logo {
          font-size: 1.5rem;
        }
        
.nav-links >* {
  color: #fff;
  text-decoration: none;
  margin-right: 5px;
  padding: 3px;
          
}
        
        @media screen and (max-width: 600px) {
          
          
          
          .navlinks{
            
            display: none;
          }
          
          
          
        }

.LinksNav{
  
  outline:  #fff solid 1px;
  
  border-radius: $radius;
}
  .cta-button {
    // background-color: #ff6600;
    color: #fff;
    border: none;
    background-color: #d9040400;
    // padding: 10px 20px;
    font-family: bold;
    border-radius: 5px;
    height: fit-content;
    padding: 1rem 3rem;
    border: solid 2px #fff;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.3s ease;
    &:hover{
        background-color: #003de5;

    }
  }


//   carrusel header
.carrusel  {
    width: 100%;
    overflow: hidden;
    position: relative;
    margin-top: 20px;
  
  }
  .carrusel-items {
    display: flex;
    transition: transform 1s ease;
    animation: moveLeft 20s infinite; // Animación para mover el carrusel a la izquierda cuatro veces en 16 segundos
  }

  .carrusel-item { 
      background-position: center;
      background-size: cover;
      filter: brightness(80%);
      background-repeat: no-repeat;
      height: 53vh;
      flex: 0 0 auto;
      width: 100%;
      min-width: 100%;
      margin-right: 10px;

    h2{
      font-size: 48px;
      padding-top: 8rem;
      color: #fff;
      max-width: $maximoAncho;
      margin: auto;
      
    }
    p{
      color: #fff;
      padding-top: 1rem;
      margin: auto;
      max-width: $maximoAncho;
      font-weight: 200;
    }
    button{
      background-color: $navBarButtontutorial;
      border: none;
      font-size: 30px;
      position: relative;
      margin-top: 2rem;
      padding: 1rem;
      border-radius: $radius;
      cursor: pointer;
      transform: scale(1, 1);
      color: azure;
      &:hover{
        background-color: #1590dd;
        transform: scale(1.07, 1.07);
      }
     
    }
    
  }
  
  .tutorial-button{
    margin: auto;
    max-width: $maximoAncho;
    width: 100%;
  }
  @keyframes moveLeft {
    0% {
      transform: translateX(0%);
    }
    25% {
      transform: translateX(-100%);
    }
    50% {
      transform: translateX(-200%);
    }
   
  }



  
//   boton con animacion
.c-button {
    color: #000;
    font-weight: 700;
    font-size: 16px;
    text-decoration: none;
    padding: 0.9em 1.6em;
    cursor: pointer;
    display: inline-block;
    vertical-align: middle;
    position: relative;
    z-index: 1;
  }
  
  .c-button--gooey {
    color: #0b8ddf;
    text-transform: uppercase;
    letter-spacing: 2px;
    border: 4px solid #0b8ddf;
    border-radius:$radius ;
    position: relative;
    transition: all 700ms ease;
    
  }
  
  .c-button--gooey .c-button__blobs {
    height: 100%;
    filter: url(#goo);
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    bottom: -3px;
    right: -1px;
    z-index: -1;
  }
  
  .c-button--gooey .c-button__blobs div {
    background-color: #0b8ddf;
    width: 34%;
    height: 100%;
    border-radius: 100%;
    position: absolute;
    transform: scale(1.4) translateY(125%) translateZ(0);
    transition: all 700ms ease;
  }
  
  .c-button--gooey .c-button__blobs div:nth-child(1) {
    left: -5%;
  }
  
  .c-button--gooey .c-button__blobs div:nth-child(2) {
    left: 30%;
    transition-delay: 60ms;
  }
  
  .c-button--gooey .c-button__blobs div:nth-child(3) {
    left: 66%;
    transition-delay: 25ms;
  }
  
  .c-button--gooey:hover {
    color: #fff;
  }
  
  .c-button--gooey:hover .c-button__blobs div {
    transform: scale(1.4) translateY(0) translateZ(0);
  }

  