@import "./Header.scss";

.container {
    display: flex;
    flex-direction: column;
    height: 50vh; // Ajusta la altura como desees
    margin: 10vh  auto 0 auto;
    max-width: $maximoAncho;
  }
  
  .row {
    // flex: 1;
    height: 10vh;
    display: flex;
    justify-content: center;
  }
  
  .column {
    flex: 1;
    background-color: lightgray;
    border: 1px solid gray;
    padding: 20px;
    margin: 10px;
    text-align: center;
  }
  