
@import "./Header.scss";
@import "./Body.scss";
@import "./InstFormacion.scss";

img{
    height: auto;
    width: 50%;
}

footer{
    margin: 0;
}
body{
    font-family: 'Encode Sans', sans-serif;
    margin: 0;
    font-weight: 900;
}


html{
    overflow-y: scroll;
    scrollbar-width: thin;
    margin: 0;
}
h5{
    padding: 5px;
    font-size: 16px;
    font-weight: 200;
    color: rgb(183, 179, 179);
}
// subtitulo mas detallado de la seccion
h3{
    padding: 5px;
    font-size: 22px;
    color: black;
    font-weight: 600;
}
// titulos de secciones
h2{
    font-size: 48px;
    // padding-top: 8rem;
    color: #fff;
    max-width: 983px;
    margin: auto;
    
}
hr{
    opacity: 30%;
    margin: 2rem auto;
    max-width: $maximoAncho;
}