* {
  margin: 0; }

.logoimg {
  height: auto;
  cursor: pointer;
  width: 6rem;
  transition: .6s ease-in-out;
  transform: scale(1, 1); }
  .logoimg:hover {
    transition: .6s ease-in-out;
    transform: scale(1.2, 1.2); }
  .logoimg:not(:hover) {
    transition: .6s ease-in-out; }

.main-header {
  max-width: 1300px;
  margin: auto;
  background-color: #232D4F;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px; }

.left-element,
.right-element {
  padding: 10px; }

.left-element {
  flex: 1;
  text-align: left; }

.right-element {
  flex: 1;
  text-align: right; }

header {
  background-color: #232D4F;
  color: #fff; }

article {
  background-color: #0072BB; }
  article nav {
    margin: auto;
    max-width: 983px;
    display: flex;
    justify-content: space-between;
    height: 10vh;
    align-items: center; }
    article nav .navlinks {
      display: flex;
      justify-content: space-between;
      align-items: center; }

.logo {
  font-size: 1.5rem; }

.nav-links > * {
  color: #fff;
  text-decoration: none;
  margin-right: 20px;
  transition: 1s; }
  .nav-links > *:hover {
    text-decoration: underline 3px  #fff; }

.cta-button {
  color: #fff;
  border: none;
  background-color: #d9040400;
  font-family: bold;
  border-radius: 5px;
  height: fit-content;
  padding: 1rem 3rem;
  border: solid 2px #fff;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.3s ease; }
  .cta-button:hover {
    background-color: #003de5; }

.carrusel {
  width: 100%;
  overflow: hidden;
  position: relative;
  margin-top: 20px; }

.carrusel-items {
  display: flex;
  transition: transform 1s ease;
  animation: moveLeft 20s infinite; }

.carrusel-item {
  background-position: center;
  background-size: cover;
  filter: brightness(80%);
  background-repeat: no-repeat;
  height: 53vh;
  flex: 0 0 auto;
  width: 100%;
  min-width: 100%;
  margin-right: 10px; }
  .carrusel-item h1 {
    font-size: 48px;
    padding-top: 8rem;
    color: #fff;
    max-width: 983px;
    margin: auto; }
  .carrusel-item p {
    color: #fff;
    padding-top: 1rem;
    margin: auto;
    max-width: 983px;
    font-weight: 200; }
  .carrusel-item button {
    background-color: #0072BB;
    border: none;
    font-size: 30px;
    position: relative;
    margin-top: 2rem;
    padding: 1rem;
    border-radius: 1rem;
    cursor: pointer;
    transform: scale(1, 1);
    color: azure; }
    .carrusel-item button:hover {
      background-color: #1590dd;
      transform: scale(1.07, 1.07); }

.tutorial-button {
  margin: auto;
  max-width: 983px;
  width: 100%; }

@keyframes moveLeft {
  0% {
    transform: translateX(0%); }
  25% {
    transform: translateX(-100%); }
  50% {
    transform: translateX(-200%); } }
.c-button {
  color: #000;
  font-weight: 700;
  font-size: 16px;
  text-decoration: none;
  padding: 0.9em 1.6em;
  cursor: pointer;
  display: inline-block;
  vertical-align: middle;
  position: relative;
  z-index: 1; }

.c-button--gooey {
  color: #0b8ddf;
  text-transform: uppercase;
  letter-spacing: 2px;
  border: 4px solid #0b8ddf;
  border-radius: 1rem;
  position: relative;
  transition: all 700ms ease; }

.c-button--gooey .c-button__blobs {
  height: 100%;
  filter: url(#goo);
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  bottom: -3px;
  right: -1px;
  z-index: -1; }

.c-button--gooey .c-button__blobs div {
  background-color: #0b8ddf;
  width: 34%;
  height: 100%;
  border-radius: 100%;
  position: absolute;
  transform: scale(1.4) translateY(125%) translateZ(0);
  transition: all 700ms ease; }

.c-button--gooey .c-button__blobs div:nth-child(1) {
  left: -5%; }

.c-button--gooey .c-button__blobs div:nth-child(2) {
  left: 30%;
  transition-delay: 60ms; }

.c-button--gooey .c-button__blobs div:nth-child(3) {
  left: 66%;
  transition-delay: 25ms; }

.c-button--gooey:hover {
  color: #fff; }

.c-button--gooey:hover .c-button__blobs div {
  transform: scale(1.4) translateY(0) translateZ(0); }

* {
  margin: 0; }

.logoimg {
  height: auto;
  cursor: pointer;
  width: 6rem;
  transition: .6s ease-in-out;
  transform: scale(1, 1); }
  .logoimg:hover {
    transition: .6s ease-in-out;
    transform: scale(1.2, 1.2); }
  .logoimg:not(:hover) {
    transition: .6s ease-in-out; }

.main-header {
  max-width: 1300px;
  margin: auto;
  background-color: #232D4F;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px; }

.left-element,
.right-element {
  padding: 10px; }

.left-element {
  flex: 1;
  text-align: left; }

.right-element {
  flex: 1;
  text-align: right; }

header {
  background-color: #232D4F;
  color: #fff; }

article {
  background-color: #0072BB; }
  article nav {
    margin: auto;
    max-width: 983px;
    display: flex;
    justify-content: space-between;
    height: 10vh;
    align-items: center; }
    article nav .navlinks {
      display: flex;
      justify-content: space-between;
      align-items: center; }

.logo {
  font-size: 1.5rem; }

.nav-links > * {
  color: #fff;
  text-decoration: none;
  margin-right: 20px;
  transition: 1s; }
  .nav-links > *:hover {
    text-decoration: underline 3px  #fff; }

.cta-button {
  color: #fff;
  border: none;
  background-color: #d9040400;
  font-family: bold;
  border-radius: 5px;
  height: fit-content;
  padding: 1rem 3rem;
  border: solid 2px #fff;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.3s ease; }
  .cta-button:hover {
    background-color: #003de5; }

.carrusel {
  width: 100%;
  overflow: hidden;
  position: relative;
  margin-top: 20px; }

.carrusel-items {
  display: flex;
  transition: transform 1s ease;
  animation: moveLeft 20s infinite; }

.carrusel-item {
  background-position: center;
  background-size: cover;
  filter: brightness(80%);
  background-repeat: no-repeat;
  height: 53vh;
  flex: 0 0 auto;
  width: 100%;
  min-width: 100%;
  margin-right: 10px; }
  .carrusel-item h1 {
    font-size: 48px;
    padding-top: 8rem;
    color: #fff;
    max-width: 983px;
    margin: auto; }
  .carrusel-item p {
    color: #fff;
    padding-top: 1rem;
    margin: auto;
    max-width: 983px;
    font-weight: 200; }
  .carrusel-item button {
    background-color: #0072BB;
    border: none;
    font-size: 30px;
    position: relative;
    margin-top: 2rem;
    padding: 1rem;
    border-radius: 1rem;
    cursor: pointer;
    transform: scale(1, 1);
    color: azure; }
    .carrusel-item button:hover {
      background-color: #1590dd;
      transform: scale(1.07, 1.07); }

.tutorial-button {
  margin: auto;
  max-width: 983px;
  width: 100%; }

@keyframes moveLeft {
  0% {
    transform: translateX(0%); }
  25% {
    transform: translateX(-100%); }
  50% {
    transform: translateX(-200%); } }
.c-button {
  color: #000;
  font-weight: 700;
  font-size: 16px;
  text-decoration: none;
  padding: 0.9em 1.6em;
  cursor: pointer;
  display: inline-block;
  vertical-align: middle;
  position: relative;
  z-index: 1; }

.c-button--gooey {
  color: #0b8ddf;
  text-transform: uppercase;
  letter-spacing: 2px;
  border: 4px solid #0b8ddf;
  border-radius: 1rem;
  position: relative;
  transition: all 700ms ease; }

.c-button--gooey .c-button__blobs {
  height: 100%;
  filter: url(#goo);
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  bottom: -3px;
  right: -1px;
  z-index: -1; }

.c-button--gooey .c-button__blobs div {
  background-color: #0b8ddf;
  width: 34%;
  height: 100%;
  border-radius: 100%;
  position: absolute;
  transform: scale(1.4) translateY(125%) translateZ(0);
  transition: all 700ms ease; }

.c-button--gooey .c-button__blobs div:nth-child(1) {
  left: -5%; }

.c-button--gooey .c-button__blobs div:nth-child(2) {
  left: 30%;
  transition-delay: 60ms; }

.c-button--gooey .c-button__blobs div:nth-child(3) {
  left: 66%;
  transition-delay: 25ms; }

.c-button--gooey:hover {
  color: #fff; }

.c-button--gooey:hover .c-button__blobs div {
  transform: scale(1.4) translateY(0) translateZ(0); }

.seccionSoyCiudadano {
  margin: auto;
  max-width: 983px;
  display: grid;
  justify-items: center;
  grid-template-columns: repeat(2, 1fr);
  position: relative;
  top: 10vh; }
  .seccionSoyCiudadano h3 {
    cursor: pointer; }
    .seccionSoyCiudadano h3:hover {
      color: #1275c6; }

.grid-section {
  display: grid;
  grid-template-rows: 100%;
  grid-template-columns: repeat(auto-fit, minmax(11rem, 1fr));
  grid-gap: 20px;
  padding: 20px;
  max-width: 983px;
  margin: 10vh auto; }

.grid-item {
  cursor: pointer;
  box-shadow: 2px 2px 8px 2px rgba(0, 0, 0, 0.13);
  color: #fff;
  padding: 20px;
  height: 28vh;
  text-align: center;
  transition: .2s ease-in-out;
  transform: scale(1, 1);
  border-radius: 8px; }
  .grid-item:hover {
    transform: scale(1.02, 1.02);
    box-shadow: 2px 2px 8px 2px rgba(0, 0, 0, 0.13);
    transition: .2s ease-in-out; }
  .grid-item:not:hover {
    transition: .2s ease-in-out; }

.grid-moreinfoimg {
  box-shadow: 2px 2px 8px 2px rgba(0, 0, 0, 0.13);
  background-position: center;
  background-size: cover;
  height: 40vh;
  background-repeat: no-repeat;
  transition: background-size 3s ease; }
  .grid-moreinfoimg:hover {
    background-size: 110%;
    background-repeat: no-repeat;
    transition: background-size 3s ease; }
  .grid-moreinfoimg:not(:hover) {
    transition: background-size 3s ease; }
  .grid-moreinfoimg p {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-end;
    padding: 1rem;
    height: 23rem; }
  .grid-moreinfoimg b {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-content: flex-end;
    padding: 1rem;
    height: 1rem;
    color: #688ef1;
    cursor: pointer; }

.grid-moreinfoCursos {
  border-radius: 8px;
  transition: .2s ease-in-out;
  transform: scale(1, 1);
  border-radius: 8px;
  display: grid;
  align-items: center;
  box-shadow: 2px 2px 8px 2px rgba(0, 0, 0, 0.13);
  padding: 1rem;
  margin: 5px;
  cursor: pointer;
  box-shadow: 2px 2px 8px 2px rgba(0, 0, 0, 0.13); }
  .grid-moreinfoCursos:hover {
    transform: scale(1.02, 1.02);
    transition: .2s ease-in-out; }
  .grid-moreinfoCursos:not:hover {
    transition: .2s ease-in-out; }

.grid-section2 .grid-moreinfo {
  padding: 1rem;
  margin: 5px;
  display: flex;
  align-items: center;
  box-shadow: 2px 2px 8px 2px rgba(0, 0, 0, 0.13);
  height: 3rem;
  border-radius: 8px;
  cursor: pointer;
  transform: scale(1, 1); }
  .grid-section2 .grid-moreinfo:hover {
    transform: scale(1.02, 1.02);
    transition: .2s ease-in-out; }
  .grid-section2 .grid-moreinfo:not(:hover) {
    transition: .2s ease-in-out; }

.box-images {
  height: 52vh;
  box-shadow: 2px 2px 8px 2px rgba(0, 0, 0, 0.13);
  border-radius: 8px;
  overflow: hidden; }

.grid-section-bg {
  background-position: center;
  background-size: cover;
  height: 60vh; }

.grid-section2 {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
  grid-gap: 20px;
  padding: 20px;
  max-width: 983px;
  margin: 5rem auto; }

.main-footer {
  background-color: #232D4F;
  color: #fff;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  position: relative;
  height: 9vh;
  bottom: 0;
  left: 0;
  right: 0;
  top: 16vh; }

.footer-left {
  display: flex;
  align-items: center; }

/* Estilos de los logos de redes sociales */
.social-icons {
  display: flex; }

.social-icons a {
  margin-right: 10px; }
.social-icons img {
  width: 30px;
  height: 30px; }

.footer-right {
  flex: 1;
  align-items: center; }

img {
  height: auto;
  width: 50%; }

body {
  font-family: 'Encode Sans', sans-serif;
  margin: 0;
  font-weight: 900; }

h5 {
  padding: 5px;
  font-size: 16px;
  font-weight: 200;
  color: #b7b3b3; }

h3 {
  padding: 5px;
  font-size: 20px;
  color: black; }

h2 {
  font-size: 25px;
  padding: 5px;
  color: black; }

hr {
  opacity: 30%;
  margin: auto;
  max-width: 983px; }

/*# sourceMappingURL=index.css.map */
